= form_for @product, :html => { :class => 'form-horizontal', multipart: true } do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description
  .control-group
    = f.label :price, :class => 'control-label'
    .controls
      = f.number_field :price
  .control-group
    = f.label :discount, :class => 'control-label'
    .controls
      = f.number_field :discount
  .control-group
    = f.label :attrs, :class => 'control-label'
    .controls
      = f.text_field :attrs
  .control-group
    = f.label :options, :class => 'control-label'
    .controls
      = f.text_field :options
  .control-group
    = f.label :category, :class => 'control-label'
    .controls
      = f.collection_select :category_id, Category.order(:id),:id,:name, {include_blank: true}
  .control-group
    = f.label :sku, :class => 'control-label'
    .controls
      = f.text_area :sku
  .control-group
    = f.label :count, :class => 'control-label'
    .controls
      = f.number_field :count
  .control-group
    = f.label :hidden, :class => 'control-label'
    .controls
      = f.check_box :hidden
  .control-group
    = f.label :sort, :class => 'control-label'
    .controls
      = f.number_field :sort
  .control-group
    = f.label :manufacturer_id, :class => 'control-label'
    .controls
      = f.collection_select :manufacturer_id, Manufacturer.order(:name),:id,:name, {include_blank: true}
  .control-group
    = f.label :seo_name, :class => 'control-label'
    .controls
      = f.text_area :seo_name

  -@product.images.each do |img|
    =image_tag img.image.url(:thumb)

  = f.file_field :images[0]
  = f.file_field :image[1]
  = f.file_field :image[2]
  = f.file_field :image[3]
  = f.file_field :image[4]



  .actions
    .controls
      = f.submit
