.page-header
  %h1 Listing products
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Description
      %th Price
      %th Discount
      %th Attrs
      %th Options
      %th Category
      %th Sku
      %th Count
      %th Hidden
      %th Sort
      %th Vendor
      %th Seo name
      %th
      %th
      %th
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= product.price
        %td= product.discount
        %td= product.attrs
        %td= product.options
        %td= product.category_id
        %td= product.sku
        %td= product.count
        %td= product.hidden
        %td= product.sort
        %td= product.vendor_id
        %td= product.seo_name
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product), :class => 'btn btn-mini'
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
%br/
= link_to 'New Product', new_product_path, :class => 'btn btn-primary'
